

<div id="pincodesearch" class=" input-group mb-2">
 <input class="form-control me-2" type="search" name="pincodesearch"  value="{{ pincodesearch }}"  placeholder="{{ text_search }}">
  <span class="input-group-btn">
    <button type="button"  class="btn "><i class="fa fa-search"></i></button>
  </span>
</div>



  <script type="text/javascript">

$('#pincodesearch input[name=\'pincodesearch\']').parent().find('button').on('click',function() {

  	var url = $('base').attr('href') + 'index.php?route=common/stores';

    var value = $('#pincodesearch input[name=\'pincodesearch\']').val();


		if (value) {
			url += '&pincodesearch=' + encodeURIComponent(value);
		}
   
		location = url;
    
});

	$('#pincodesearch input[name=\'pincodesearch\']').click(function(e) {
		if (e.keyCode == 13) {
			$('homepageheader #pincodesearch input[name=\'pincodesearch\']').parent().find('button').trigger('click');
		}
	});
  </script>

  
 